#addFormCont{
    display: flex;
    align-items: center;
    .addForm{
        margin: 0 auto 2rem ;
        min-width: 15rem;   
        width: 35vw;
        text-align: center;
        padding: 2rem;
        border-radius: 10px;
        border: 1px solid grey;
        h3{
            margin: 1rem auto;
            font-size: 22px;
        }
        div{
            width: 80%;
            display: flex;
            flex-direction: column;
        }
        label{
            align-self: flex-start;
            margin: 2rem 0 0.5rem;
        }
        input,
        select,
        textarea,
        button{
            width: 100%;
            border-radius: 8px;
            min-height: 2rem;
        }
        .inputFile{
            padding: 1rem 0;
            cursor: pointer;
            border: 1px solid white;
            border-radius: 4px;
            font-size: 14px;
        }
        button{
            margin: 5% auto;
            width: 50%;
            background-color: rgb(224, 170, 53);
        }
    }
}