@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --backgroundSoftBlue: #1b232e;
    --backgroundDarktBlue: #0d1217;
}
*{
    margin: 0;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
}
body{
    background-color: var(--backgroundSoftBlue);
    color: white;
}
section{
    width: 100%;
    height: 100%;
}
div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
#root{
    flex-direction: column;
}
h1,h2{
    font-size: 15px;
    font-weight: bold;
}
p{
    margin-bottom: 0;
}
button,
img
a,
option{
    cursor: pointer;
}
button{
    width: 50%;
    min-width: fit-content;
    min-height: fit-content;
    padding: 0.5rem;
    background-color: rgb(33, 176, 52);
}
*::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: var(--backgroundDarktBlue);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--backgroundSoftBlue);
    border-radius: 10px;
    border: 1px solid white;
  }