.navBar {
    color: white;
    background-color: rgba(0, 0, 0, 0.279);
    width: 100%;
    position:static;
    top: 0;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    div {
        width: 100%;
        justify-content: space-around;
        a{
            color: white;
            text-decoration: none;
        }
        div{
            width: fit-content;
        }
    }
}