#peliDetail {
    justify-content: center;
    h2{
        font-size: 20px;
    }
    .imgPeli{
        width: 30%;
        box-shadow: 5px 3px 5px 2px black;

    }
    div {
        margin: 0 auto;
        width: 90%;
        flex-direction: row;
        padding: 1rem;
        small{
            margin-bottom: 3rem;
        }
        p{
            font-size: 15px;
        }
        div{
            padding: 3rem;
            margin: 5% auto;
            align-self: flex-start;
            width: 50%;
            flex-direction: column;
            border: 1px solid white;
            border-radius: 20px;
            background-color: var(--backgroundDarktBlue);
            box-shadow: 5px 5px 5px 2px black;
            .favorito{
                width: 1rem;
                height: 1rem;
                cursor: pointer;
            }
            div{
                box-shadow: none;
                border: none;
                padding: 0;
                margin: 1rem auto;
                flex-direction: row;
                width: fit-content;
                gap: 3rem;
            }
        }
    }
}